.video-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.video-left {
  flex: 7;
}

.video-left iframe {
  width: 100%;
  height: 420px;
  border-radius: 10px;
}

.video-right {
  flex: 3;
  background: #f9fafb;
  padding: 15px;
  border-radius: 10px;
}

.module {
  margin-bottom: 10px;
}

.lesson {
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.lesson:hover {
  background: #e5edff;
}

.lesson.active {
  background: #2563eb;
  color: white;
}
